html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Helvetica", sans-serif;
	font-size: 13px;
}

header {
	background-color: whitesmoke;
	font-size: 20.0pt;
	text-align: center;
	color: #073249;
}

.content {
	margin-left: 100px !important;
	/*max-width: calc(100vw - 100px);*/
    margin-bottom: 10px;
}

.footer {
	margin-top: auto;
	/*margin-inline-start: ;*/
  	width: 100%;
    line-height: 60px; /* Vertically center the text there */
	text-align: right;
	background-color: none;
}

nav {
	border-bottom-width: 2px;
}

.logo {
	margin: auto;
}

.couleur{
	background-color: #073249;
	background-image: linear-gradient(-190deg, #073249, #127fba);
}

.blue {
    background-color: #2196f3 !important;
}


.height10{
	height:10px !important;
}

.mtop10{
	margin-top:10px;
}

.modal-label{
	position:relative;
	top:7px
}

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

li{
	list-style:none;
}

li > a{
	text-decoration: none;
    color: #333;
}

li > a:hover{
    color: #2196f3;
	text-decoration: none;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
	padding: 1%;
}

.deroulant{
    width: 150px;
}

.deroulant:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
